<% content_for :head do %>
<title>About Stories</title>
<% end %>

<main>
  <div class="about">
    <h1>Relive your favourite memories</h1>
  </div>
  <div class="about-secondary">
    <h1>No more sorting through photos</h1>
    <p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
    <%= link_to "Signup", contact_path, :class=>"btn btn-default learn" %>
  </div>
</main>