<main>
  <div class="home-create">
    <h1>Create and share Stories</h1>
    <%= link_to "Learn more", about_path, :class=>"btn btn-default learn" %>
  </div>
  <div class="support">
      <h1>Relieve and share your adventures</h1>
      <p>Stories automatically creates a digital journal filled with only your best photos</p>
  </div>
  <div class="secondary">
  </div>
  <div class="discover">
    <h1>Discover Stories</h1>
    <%= link_to "Learn more", about_path, :class=>"btn btn-default learn" %>
  </div>
</main>