<main>
  <menu>
    <ul class="menu">
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
      </ul>
    <img id="button-close" src="http://s3.amazonaws.com/codecademy-content/projects/z2d/stories/close-black.svg" alt="close">
  </menu>
  <div class="home-create">
    <img id="button-menu" src="http://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg" alt="menu-button">
    <h1>Create and share Stories</h1>
    <button type="button" class="btn btn-default learn">Learn more</button>
  </div>
  <div class="support">
      <h1>Relieve and share your adventures</h1>
      <p>Stories automatically creates a digital journal filled with only your best photos</p>
  </div>
  <div class="secondary">
  </div>
  <div class="discover">
    <h1>Discover Stories</h1>
    <button type="button" class="btn btn-default learn">Learn more</button>
  </div>
</main>
<footer>
  <p>Elturista project &copy 2015</p>
</footer>