<% content_for :head do %>
<title>Thank you for signing up to Stories</title>
<% end %>

<main>
  <div class="signups">
    <div class="signups-text">
    <h1>Thanks. We will be in touch.</h1>
    </div>
  </div>
</main>