// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
height: 100%;
width: 100%;
margin: 0px;
padding: 0px;
}

body {
font-family: 'Quicksand', sans-serif;
min-height: 100%;
width: 100%;
margin: 0px;
padding: 0px;
}

.home-create {
background: url(https://maciejsupertramp.files.wordpress.com/2010/03/img_3338.jpg) no-repeat center center / cover;
width: 100%;
height: 1000px;
margin: 0;
padding-top: 20px;
}

.home-create h1 {
text-align: center;
font-size: 50px;
font-weight: 400;
color: #fff;
padding-top: 220px;
}

.btn:hover, .btn:active, .btn:focus {
outline: 0;
border: none;
}

.learn {
height: 50px;
width: 150px;
padding: 10px;
background: #6C91FF;
color: #FFF;
display: block;
margin: 70px auto;
font-size: 20px;
font-weight: 400;
border: none;
border-radius: 0;
}

.support {
width: 100%;
height: 350px;
text-align: center;
padding: 100px;
margin: auto;
background: #fff;
}

.support p {
font-size: 1.3em;
}

.secondary {
background: url(https://scontent-ams3-1.xx.fbcdn.net/hphotos-xpf1/t31.0-8/10733746_10204345888941081_853180816167051996_o.jpg) no-repeat center center / cover;
width: 100%;
height: 700px;
}

.discover {
width: 100%;
height: 350px;
background: #fff;
}

.discover h1 {
text-align: center;
padding-top: 100px;
}

.discover .learn {
margin-top: 50px;
}

footer {
height: 100px;
text-align: center;
background-color: #CCCCB2;
color: #000;
padding-top: 15px;
}

menu {
height: 100%;
width: 200px;
float: left;
background-color: #FFF;
position: fixed;
z-index: 1;
margin-top: 0;
margin-left: -200px;
}

.menu {
margin-top: 70px;
list-style-type: none;
text-align: left;
padding-left: 0px;
float: left;
}

.menu li {
font-size: 2em;
}

.menu a {
color: #000;
}

.menu a:active, a:focus {
color: #000;
background: #FFF;
border: none;
outline: 0;
}

#button-close {
width: 25px;
height: 25px;
float: right;
margin-top: 80px;
margin-right: 10px;
cursor: pointer;
}

#button-menu {
width: 25px;
height: 25px;
float: left;
margin-top: 80px;
margin-left: 50px;
cursor: pointer;
}

.about {
background: url(https://scontent-fra3-1.xx.fbcdn.net/hphotos-xpf1/t31.0-8/10636635_10204345892541171_6930583756858554222_o.jpg) no-repeat center center / cover;
width: 100%;
height: 1000px;
margin: 0;
padding-top: 20px;
}

.about h1 {
text-align: center;
font-size: 50px;
font-weight: 400;
color: #fff;
padding-top: 300px;
}

.about-secondary {
width: 100%;
height: 350px;
text-align: center;
}

.about-secondary h1 {
padding-top: 100px;
}

.about-secondary p {
font-size: 1.3em;
}

.about-secondary .learn {
margin-top: 40px;
}